<div class="card card-productos">
    <div class="card-content">
      <h3><%= resultado.nombre %></h3>
      <p><%= resultado.descripcion %></p>
      <p>$<%= resultado.precio %></p>
  
      <form action="/carrito/<%= resultado.id %>" method="POST">
        <div class="container-add-card">
          <div class="container-quantity">
            <input
              type="number"
              placeholder="1"
              value="1"
              min="1"
              class="input-quantity"
              name="cantidad"
            />
          </div>
  
          <div class="btn-increment-decrement">
            <i class="fa-solid fa-chevron-up" id="increment"></i>
            <i class="fa-solid fa-chevron-down" id="decrement"></i>
          </div>
  
          <div>
            <button type="submit" class="btn-add-too-cart">Agregar</button>
  
            <a href="/productos/<%= resultado.id %>/edit" class="btn-detail-edit"
              >Editar</a
            >
          </div>
        </div>
      </form>
    </div>
  </div>
  